
<!-- Mainly scripts -->
<script src="/static/js/jquery-2.1.1.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>
<!--消息提示js-->
<script src="/static/js/toastr/toastr.min.js"></script>

<!-- SUMMERNOTE -->
<script src="/static/js/plugins/summernote/summernote.min.js"></script>

<script type="text/JavaScript">$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});</script>
<!-- Peity -->
<script src="/static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/js/demo/peity-demo.js"></script>
<script src="/static/js/jquery.colorbox.js"></script>

<script type="text/javascript" src="/static/js/from_js/jquery.validVal.js"></script>

<script type="text/javascript" src="/static/js/from_js/zh_CN.js"></script>


<script type="text/javascript" src="/static/layer/layer.min.js"></script>

<!-- Ztree -->
<script src="/static/js/ztree/jquery.ztree.core-3.5.min.js"></script>

<script src="/static/js/fun.js"></script>

<!-- base js -->
<script src="/static/js/base.js"></script>

<!-- jquery cookie -->
<script src="/static/js/jquery.cookie.js"></script>

<!--数据统计可视化js-->
<script src="/static/js/echarts/echarts.js"></script>

<!--告警提示js-->
<script src="/static/js/sweetalert/sweetalert.min.js"></script>

<!--在线代码编译器js-->
<script src="/static/js/plugins/codemirror/codemirror.js"></script>
<script src="/static/js/plugins/codemirror/mode/javascript/javascript.js"></script>
<script src="/static/js/plugins/jquery-datetimepicker/jquery.datetimepicker.js"></script>
<!-- Mainly scripts -->
<script src="/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/static/js/plugins/fullcalendar/moment.min.js"></script>
<script src="/static/js/plugins/fullcalendar/fullcalendar.min.js"></script>

<!--代码发布输入框选择器-->
<script src="/static/js/select/bootstrap-select.js"></script>

<script src="/static/js/xcConfirm.js"></script>
<script src="/static/js/select/bootstrap-select.js"></script>
<!--服务器模板上传js-->
<script src="/static/js/plugins/fileinput/fileinput.min.js"></script>
<script src="/static/js/bootstrap-multiselect.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ace.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-language_tools.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-old_ie.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/theme-monokai.js"></script>
<script src="/static/js/plugins/select2/select2.full.min.js"></script>
<!--layui-->
{#<script src="/static/js/layui/layui.all.js"></script>#}
